@model ICollection<AuthenticationClientData>

@if (Model.Count == 0)
{
    <div class="message-info">
        Ej tillgängliga.
    </div>
}
else
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
    @Html.AntiForgeryToken()
    <fieldset id="socialLoginList">
        <legend>Välj tjänst</legend>
        <p>
        @foreach (AuthenticationClientData p in Model)
        { 
            <button type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" title="Logga in genom ditt @p.DisplayName konto">
                <img src="@p.ExtraData["Icon"]" alt="Icon for @p.DisplayName" />
            </button>
        }
        </p>
    </fieldset>
    }
}
