@model FindMyHome.Domain.LocalPasswordModel

<p>
    Du har inte ett lokalt lösenord för denna webbsidan. Lägg till ett för att möjlig göra inlogging utan en extern tjänst.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Lösenord</legend>

        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword)

             @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword)

            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-default">Spara</button>

    </fieldset>
}
