@model FindMyHome.Domain.LoginModel

@{
    ViewBag.Title = "Logga in";
}


<div class="col-xs-12">
    <section class="row">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>@ViewBag.Title</legend>

                <div class="row">
                    <div class="form-group col-sm-4 col-xs-12">
                        @Html.LabelFor(m => m.UserName, "Användarnamn")

                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })

                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-4 col-xs-12">
                        @Html.LabelFor(m => m.Password, "Lösenord")

                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>

                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, "Kom ihåg mig?")
                </div>

                <button type="submit" class="btn btn-success">Logga in</button>

            </fieldset>        
        }
        <p class="row col-sm-4 col-xs-12 addMargin">
            @Html.ActionLink("Registrera", "Register") dig om du inte har ett konto.
        </p>
    </section>

    <section class="row">
        <h2>Logga in genom en extern tjänst</h2>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </section>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
