@model FindMyHome.Domain.RegisterModel
@{
    ViewBag.Title = "Skapa ett konto";
}

<div class="col-xs-12">
    <section class="row">

        <h1>@ViewBag.Title</h1>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <fieldset>
                <legend>Uppgifter</legend>

                <div class="row">
                    <div class="form-group col-sm-4 col-xs-12">
                        @Html.LabelFor(m => m.UserName, "Användarnamn")

                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4 col-xs-12">
                        @Html.LabelFor(m => m.Password, "Lösenord")

                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4 col-xs-12">
                        @Html.LabelFor(m => m.ConfirmPassword, "Bekräfta lösenord")

                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Registrera</button>

            </fieldset>
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
